/* GENERAL STYLES */
body {
    margin:0;
    padding: 0;
    font-family: manrope;
    font-weight: 500;
    font-size: 13px;
    color: hsl(217, 19%, 35%)
}

/* CUSTOM CLASSES */
.mainContainer {
    min-height: 100vh;
    background-color:hsl(210, 46%, 95%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.article{
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-flow: column;
    width: 330px;
    overflow: hidden;
}
/* MEDIA  */
.articleMedia {
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
}
.articleMedia img {
    width: 100%;
    object-fit: fill;
}
/* PREVIEW */
.articleBody {
    padding: 40px 35px 0 35px
}
.articleBodyTitle{
    font-weight: 700;
    font-size: 16px;
    max-height: 80px;
    margin-bottom: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.articleBodyText{
    height: 70px;
    margin-bottom: 20px;
    color: hsl(214, 17%, 51%);
    overflow: hidden;
    text-overflow: ellipsis;
}
/* FOOTER  */
.articleFooter{
    padding: 10px 35px 10px 35px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    position: relative;
}
/* AUTHOR */
.articleFooterAvatar{
    display: flex;
    flex-flow: row;
}
.articleFooterAvatarImg{
    width: 40px;
    height: 40px;
    border-radius: 20px;
}
.articleFooterText{
   margin-left: 18px;
}
.articleFooterTextAuthor{
    font-weight: 700;
}
.articleFooterDate{
   color: hsl(214, 17%, 51%)
 }
 /* SHARE TOGGLER BUTTON */
.articleFooterShare{
    position: absolute;
    right: 35px;
    z-index: 2;
    width: 30px;
    height: 30px;
    margin:5px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(210, 46%, 95%);
    transition: background-color 1s;
}
.articleFooterShare:hover{
    background-color: hsl(217, 19%, 35%)
}

.articleFooterShareActive{
    background-color: hsl(210, 46%, 95%);
}
.articleFooterShareActive:hover{
    background-color: hsl(212, 23%, 69%);
}



/* SHARE ICONS */
.articleFooterIcons{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: calc(100% - 70px);
    height: 100%;
    border-radius: 0 0 10px 10px;
    padding: 0 35px 0 35px;
    background-color: hsl(214, 17%, 51%);
    color:#fff;
    display: flex;
    flex-flow: row;
    align-items: center;
    transition: bottom 0.5s ease-in;
}
.shareText{
    letter-spacing: 3px;
    margin-right: 20px;
    user-select: none;
}
.shareButton {
    display: flex;
    min-width: 30px;
    height: 30px;
    margin: 2px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: background-color 1s ease-out;
}
.shareButton:hover {
    background-color: hsl(212, 23%, 69%);
}

/* FOOTER */
.attribution { font-size: 11px; text-align: center; padding:18px}
.attribution a { color: hsl(228, 45%, 44%); }

/* UTILITY */
.bold {
    font-weight: 700;
}
.button {
    cursor: pointer;
}
.articleFooterIconsHide {
    bottom: -70px;
}
.shadow{
    -webkit-box-shadow: 0px 18px 20px 5px rgba(108,127,151,0.25);
-moz-box-shadow: 0px 18px 20px 5px rgba(108,127,151,0.25);
box-shadow: 0px 18px 20px 5px rgba(108,127,151,0.25);
}
.softShadow{
    -webkit-box-shadow: 0px 5px 10px 3px rgba(108,127,151,0.25);
-moz-box-shadow: 0px 5px 10px 3px rgba(108,127,151,0.25);
box-shadow: 0px 5px 10px 3px rgba(108,127,151,0.25);
}
.hide{
    display: none;
}

@media only screen and (min-width: 1200px){
    .article{
        width: 460px; /* 750 - 290 px */
        height: 280px;
        overflow: visible;
        padding-left: 290px;
        position: relative;
    }
    .articleMedia {
    width: 290px;
    height: 280px;
    overflow: hidden;
    border-radius: 10px 0 0 10px;
    position: absolute;
    left: 0;
    top: 0;
    }
    .articleBody{
        padding:40px 40px 0 40px;
    }
    .articleMedia img {
        height: 280px;
    }

    .articleBodyTitle{
        font-size: 20px;
    }
    .articleBodyText{
        height: 50px;
    }
    .articleFooter{
        padding: 0 40px 20px 40px;
    }
    .articleFooterIcons{
        position: absolute;
        right: -72px; 
        top: -60px;
        z-index: 1;
        width: 250px;
        height: 55px;
        border-radius: 10px;
        padding: 0;
        justify-content: space-evenly;
        transition: opacity 0.5s;
        transition: top 0.5s ease-out;
    }

    .articleFooterIcons:after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -10px;
        border-width: 7px;
        border-style: solid;
        border-color:  hsl(214, 17%, 51%) transparent transparent transparent;
     }
    .articleFooterIconsHide {
        opacity: 0;
        top: -55px
    }
}



